pkgbase = cellframe-node
	pkgdesc = Cellframe blockchain node with a powerful SDK
	pkgver = 5.3.175
	pkgrel = 1
	url = https://cellframe.net
	install = cellframe-node.install
	arch = x86_64
	arch = aarch64
	license = LGPL3
	makedepends = git
	makedepends = cmake
	makedepends = python3
	makedepends = libxslt
	depends = logrotate
	depends = libxcrypt-compat
	provides = cellframe-node
	provides = cellframe-node-cli
	provides = cellframe-node-tool
	provides = cellframe-node-config
	replaces = cellframe-node-debug
	options = !debug
	options = !strip
	source = git+https://gitlab.demlabs.net/cellframe/cellframe-node.git#commit=6adcf2e2f97f1ab5598a22b8c556d5b52c2bc443
	source = cellframe-node.logrotate
	source = cellframe-node.service
	source = cellframe-node-asan.service
	source = cellframe-node-tmpfiles.conf
	source = cellframe-node-sysusers.conf
	md5sums = SKIP
	md5sums = 6a52220e0b285dc9e803082f36897ad4
	md5sums = 4bf9cc7596903ffa5aba7fa7922d9016
	md5sums = da837da689d3741cae9366eefc86d9b3
	md5sums = c8a35659bd280659be98204fba8fa395
	md5sums = ecead745d3492224d2a5a2f7d9d561b0

pkgname = cellframe-node
